.cf, .clear-fix, .cfx {
  *zoom: 1
}

.cf:before, .clear-fix:before, .cfx:before, .cf:after, .clear-fix:after, .cfx:after {
  content: "";
  display: table
}

.cf:after, .clear-fix:after, .cfx:after {
  clear: both;
  overflow: hidden
}

.imge, .window-ctn .window-wrapper, .window-ctn .window-title, .window-ctn .window-closer, .imgc:before, .window-ctn:before, .window-ctn .window-header:before, .imgc .iecp, .window-ctn .iecp, audio, canvas, video, .tj .b, .tj:after, .tj .l, .search-content, .header-submit, .head-sub .header-tools-search .header-search-content, .head-sub .header-rearch-submit, .header-tools-search .header-search-content, .header-rearch-submit, .top-hot-key b, .page div, #footer-public a, #footer-public span, #pop-service .sicon-talk, #pop-service .text, .b5t-download-tip .dl-btn, .autofill .category, .atf-item em {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle
}

.imge, .window-ctn .window-wrapper, .window-ctn .window-title, .window-ctn .window-closer {
  font-size: 12px;
  font-size: 1rem;
  line-height: normal
}

img.imge, .window-ctn img.window-wrapper, .window-ctn img.window-title, .window-ctn img.window-closer, .imge img, .window-ctn .window-wrapper img, .window-ctn .window-title img, .window-ctn .window-closer img {
  max-width: 100%;
  max-height: 100%
}

.imgc, .window-ctn, .window-ctn .window-header {
  font-size: 0;
  _line-height: 0;
  text-align: center;
  overflow: hidden
}

.imgc:before, .window-ctn:before, .window-ctn .window-header:before, .imgc .iecp, .window-ctn .iecp {
  content: "";
  height: 100%;
  font-size: 0;
  line-height: 0;
  width: 0
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td {
  margin: 0;
  padding: 0
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

fieldset, img {
  border: 0
}

ul, ol {
  list-style: none
}

:link, :visited, ins {
  text-decoration: none
}

[hidden] {
  display: none
}

:focus {
  outline: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block
}

address, caption, cite, code, dfn, em, th, var, optgroup {
  font-style: normal;
  font-weight: 400
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400
}

abbr {
  border: 0;
  font-variant: normal
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit
}

code, kbd, samp, tt {
  font-size: 100%
}

input, button, textarea, select {
  *font-size: 100%
}

ol, ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption, th {
  text-align: left
}

sup, sub {
  font-size: 100%;
  vertical-align: baseline
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

html, body {
  font: 12px/1.5 tahoma, arial, '\5b8b\4f53';
  background: #fff
}

.tj {
  text-align: justify;
  text-justify: distribute-all-lines
}

.tj .b {
  vertical-align: top
}

.tj:after, .tj .l {
  height: 0;
  overflow: hidden;
  float: none;
  line-height: 0;
  padding: 0;
  border: 0
}

.tj:after {
  width: 100%
}

.window-ctn {
  display: none;
  position: fixed;
  _position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center
}

.window-ctn .window-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  height: 100%;
  width: 100%;
  background: #565656;
  opacity: .72;
  filter: alpha(opacity=72)
}

.window-ctn .window-wrapper {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 5%;
  z-index: 202;
  overflow: hidden;
  background: #fff
}

.window-ctn .window-bar {
  padding: 2px 0;
  text-align: right;
  width: 100%
}

.window-ctn .window-header {
  position: relative;
  height: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.window-ctn .window-title {
  margin-left: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  margin-top: -.5rem
}

.window-ctn .window-closer {
  margin: 2px 5px 0 0;
  border: 0;
  font: 700 16px/normal "宋体";
  font-weight: 700;
  color: #000;
  text-decoration: none;
  transition: all .5s ease-out 0s
}

.window-ctn .window-closer:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  border: 0
}

.window-ctn .window-contents {
  overflow: visible;
  text-align: left
}

.window-ctn .window-view {
  overflow: visible
}

.window-ctn .window-footer {
  text-align: right
}

.wp, .wrap, .wraper {
  width: 980px;
  margin: 0 auto
}

img {
  vertical-align: top
}

.fl, .l {
  float: left;
  _display: inline
}

.fr, .r {
  _display: inline;
  margin: 0 auto;
}

.ifl {
  display: inline;
  float: left
}

.ifr {
  display: inline;
  float: right
}

.tof {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.rmb {
  font-family: arial;
  font-style: normal;
  padding-right: 4px
}

.t-r {
  text-align: right
}

@font-face {
  font-family: iconfont;
  src: url(http://staticcdn.b5m.com/static/css/commonfonts/iconfont.eot?v=20140425);
  src: url(http://staticcdn.b5m.com/static/css/commonfonts/iconfont.eot?#iefix&v=20140425) format("embedded-opentype"), url(http://staticcdn.b5m.com/static/css/commonfonts/iconfont.woff?v=20140425) format("woff"), url(http://staticcdn.b5m.com/static/css/commonfonts/iconfont.ttf?v=20140425) format("truetype"), url(http://staticcdn.b5m.com/static/css/commonfonts/iconfont.svg#iconfont&v=20140425) format("svg")
}

.iconfont {
  font-family: iconfont;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale
}

.header-logo.home .logo-side, .header.home .panel-nav {
  display: none
}

.header-search-key {
  width: 410px;
  height: 16px;
  padding: 8px 10px;
  *margin-top: -1px;
  _margin-top: 0;
  line-height: 16px;
  color: #999;
  font-size: 12px;
  vertical-align: top;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px #c8c8c8 solid
}

.head {
  padding-top: 0;
  position: relative;
  z-index: 100
}

.head .nav-list {
  position: relative;
  float: left;
  margin-left: 1px
}

.head .nav-list li {
  float: left;
  position: relative;
  width: 77px;
  margin-left: -1px;
  text-align: center;
  background: url(/common/img/head_c.png?t=201504141959) no-repeat right -67px scroll
}

.head .nav-list .last-nav {
  background: 0 0
}

.head .nav-list a {
  display: block;
  font-size: 16px;
  color: #666;
  font-family: \5FAE\8F6F\96C5\9ED1
}

.head .nav-list a:hover {
  color: #fff;
  background-color: #ffab3e;
  box-shadow: 0 0 4px #aaa;
  text-decoration: none
}

.head .nav-list .cur {
  background: #ff7800
}

.head .nav-list .cur a {
  color: #fff
}

.head .nav-list .cur a:hover {
  background: #ff7800
}

.head > .wp, .head > .wrap, .header > .wp {
  height: 80px
}

.nav-list a {
  height: 38px;
  line-height: 38px
}

.nav-list li:hover {
  background-color: red
}

.nav-list .new, .nav-list .hot {
  position: absolute;
  top: -4px;
  right: 4px;
  width: 22px;
  height: 14px;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  background: url(/common/img/head_c.png?t=201504141959) no-repeat 0 0 scroll
}

.nav-list .hot {
  background-position: -128px -150px
}

.nav-list .new {
  background-position: -128px -200px
}

.head .nav-bar {
  height: 38px;
  margin-top: 6px;
  border-top: 2px solid #FF7800;
  background: url(/common/img/head_c_rx.png?t=201504141959) repeat-x scroll 0 0 transparent;
  -webkit-box-shadow: 0 2px 20px #F2F2F2;
  -moz-box-shadow: 0 2px 20px #F2F2F2;
  box-shadow: 0 2px 20px #F2F2F2;
  background-position: bottom
}

.head .nav-bar .r-nav {
  background: 0 0;
  float: right;
  text-align: right;
  margin-right: 2px
}

.head .nav-bar .r-nav a {
  display: block;
  height: 38px;
  width: 84px;
  line-height: 38px;
  font-size: 16px;
  font-family: \5FAE\8F6F\96C5\9ED1;
  color: #999;
  background: url(/common/img/head_c.png?t=201504141959) 0 -540px;
  height: 38px;
  line-height: 38px;
  background-position: 0 -544px
}

.head .nav-bar .r-nav a:hover {
  color: #ff7800;
  background-position: 0 -596px
}

.head .wrap, .head .wp {
  position: relative
}

.head .header-rearch-submit:hover {
  background-position: 0 -660px
}

.head .install-down, .header .install-down {
  float: right;
  height: 56px;
  margin-top: 12px;
  cursor: default
}

.head .download_b5t, .header .download_b5t {
  cursor: default
}

.nav-more {
  position: relative;
  z-index: 10;
  font-family: \5FAE\8F6F\96C5\9ED1;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent
}

.nav-more-hover, .nav-more:hover {
  border-left: 1px solid #FF7800;
  border-right: 1px solid #FF7800
}

.nav-more-hover .nav-more-txt, .nav-more:hover .nav-more-txt {
  background-color: #fff
}

.nav-more-hover .nav-more-list, .nav-more:hover .nav-more-list {
  display: block
}

.nav-more .nav-more-txt {
  position: relative;
  z-index: 10;
  display: block;
  width: 86px;
  height: 38px;
  line-height: 38px;
  text-indent: 1em;
  color: #666;
  font-size: 16px;
  cursor: default
}

.nav-more-list {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 37px;
  right: -1px;
  width: 226px;
  border: 1px solid #FF7800;
  background-color: #fff
}

.nav-more-list li {
  border-top: 1px solid #FFEDDF;
  margin-top: -1px;
  float: left;
  width: 50%;
  text-indent: 4em
}

.nav-more-list a {
  display: block;
  height: 39px;
  line-height: 39px;
  color: #999;
  font-size: 14px
}

.nav-more-list a:hover {
  color: #FF7800
}

.head .nav-icon {
  background-image: url(/common/img/head_c.png?t=201504141959);
  background-repeat: no-repeat;
  background-attachment: scroll
}

.head .icon-more {
  background-position: 60px -86px
}

.head .icon-b5g {
  background-position: 19px -140px
}

.head .icon-b5g:hover {
  background-position: 19px -190px
}

.head .icon-hgg {
  background-position: 19px -241px
}

.head .icon-hgg:hover {
  background-position: 19px -291px
}

.head .icon-dis {
  background-position: 19px -341px
}

.head .icon-dis:hover {
  background-position: 19px -391px
}

.head .icon-war {
  background-position: 19px -441px
}

.head .icon-war:hover {
  background-position: 19px -491px
}

.head .icon-doc {
  background-position: 19px -716px
}

.head .icon-doc:hover {
  background-position: 19px -766px
}

.head .icon-search {
  background-position: 19px -810px
}

.head .icon-search:hover {
  background-position: 19px -860px
}

.head .icon-piao {
  background-position: 19px -1077px
}

.head .icon-piao:hover {
  background-position: 19px -1111px
}

.head .icon-daikuan {
  background-position: 19px -1150px
}

.head .icon-daikuan:hover {
  background-position: 19px -1184px
}

.search-input {
  position: relative;
  z-index: 10;
  float: left;
  _display: inline;
  margin-left: 30px;
  margin-top: 12px
}

.search-input .header-rearch-hotkey {
  float: none;
  display: block;
  padding: 0;
  margin-top: 10px
}

.search-input .header-search-key {
  height: 21px;
  padding-left: 30px;
  width: 398px;
  line-height: 21px;
  background: url(/common/img/head_c.png?t=201504141959) no-repeat scroll -92px 12px transparent;
  border: 2px solid #D7D7D7;
  border-right: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px
}

.search-input .hot-keys {
  height: 34px;
  line-height: 34px;
  float: left;
  margin-left: 10px;
  font-size: 12px;
  color: #fff6eb;
  font-family: '\5B8B\4F53', SimSun
}

.search-input dt, .search-input dd {
  float: left
}

.search-input .hot-keys a {
  color: #fff6eb;
  margin-right: 12px
}

.search-input .hot-keys a:hover {
  text-decoration: underline
}

.search-content {
  float: none;
  vertical-align: top;
  font-size: 0;
  -webkit-border-radius: 3px;
  -mox-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px
}

.search-content label {
  display: none
}

.search-content .header-search-key:focus {
  border-color: #f27902
}

.header-submit {
  height: 41px;
  width: 67px;
  overflow: hidden;
  line-height: 0;
  *margin-left: -1px;
  font-size: 0;
  background: url(/common/img/head_c.png?t=201504141959) scroll 0 0 transparent
}

.header-submit:hover {
  background-position: 0 -660px
}

.header-search-content {
  font-size: 0
}

.head-sub .header-tools-search {
  position: relative;
  z-index: 10;
  float: left;
  _display: inline;
  margin-left: 32px;
  margin-top: 12px
}

.head-sub .header-tools-search .header-search-content {
  border: 2px solid #fff;
  float: none;
  vertical-align: top;
  -webkit-border-radius: 3px;
  -mox-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px
}

.head-sub .header-rearch-hotkey {
  float: none;
  display: block;
  padding: 0;
  margin-top: 10px;
  line-height: 14px
}

.head-sub .header-tools-search .header-search-key {
  width: 386px;
  height: 15px;
  padding-left: 30px;
  line-height: 15px;
  background: url(/common/img/nav_line.png?t=201504141959) no-repeat scroll 8px -110px;
  _background-image: url(/common/img/nav_line8.png?t=201504141959);
  border: 1px solid #c8c8c8;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px
}

.head-sub .header-tools-search dt, .head-sub .header-tools-search dd {
  float: left
}

.head-sub .header-tools-search .hot-keys a {
  color: #fff6eb;
  margin-right: 12px
}

.head-sub .header-tools-search .hot-keys a:hover {
  text-decoration: underline
}

.head-sub .header-search-content label {
  display: none
}

.head-sub .header-rearch-submit {
  width: 70px;
  height: 33px;
  overflow: hidden;
  _margin-left: -1px;
  color: #fff;
  border-radius: 0
}

.head-sub .header-rearch-hotkey, .head-sub .header-rearch-hotkey a {
  color: #999
}

.head-sub .header-rearch-hotkey a:hover {
  color: #eb7e00
}

.head-sub .focusin {
  color: #000
}

.head-sub .header-nav-box {
  height: 47px;
  margin-top: 8px;
  background-color: #ff8808;
  font-family: Microsoft YaHei
}

.head-sub .header-nav-box .wp {
  width: 980px
}

.head-sub .header-nav-back {
  display: inline;
  float: left;
  position: relative;
  z-index: 2;
  width: 196px;
  height: 47px;
  margin-right: -1px;
  line-height: 47px;
  background-image: url(/common/img/header-nav.png?t=201504141959);
  background-position: -110px 13px;
  background-repeat: no-repeat;
  font-size: 14px;
  font-family: \5FAE\8F6F\96C5\9ED1
}

.head-sub .header-nav-back a {
  display: block;
  padding-left: 78px;
  height: 47px;
  color: #fff
}

.head-sub .header-nav-back a:hover {
  color: #fff;
  text-decoration: none
}

.head-sub .header-nav-box ul {
  float: left;
  position: relative;
  z-index: 1
}

.head-sub .header-nav-box li {
  display: inline;
  float: left;
  position: relative;
  width: 85px;
  border-left: 1px solid;
  text-align: center
}

.head-sub .header-nav-box li a {
  display: block;
  height: 47px;
  line-height: 47px;
  font-size: 14px;
  color: #fff
}

.head-sub .header-nav-box li a:hover {
  color: #fff;
  text-decoration: none
}

.head-sub .header-box {
  width: 980px;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
  z-index: 1
}

.search-history {
  display: none;
  padding: 10px 20px 0
}

.search-history .key-list a {
  display: block;
  color: #0E72CC
}

.search-history .key-list a:hover {
  background-color: #FFE8C7
}

.search-history .key-list li {
  height: 28px;
  line-height: 28px
}

.search-history-title span {
  color: #9A9A9A
}

.search-history-title .del-his {
  cursor: pointer
}

.header-box {
  width: 980px;
  margin: 0 auto;
  padding-top: 0;
  position: relative;
  z-index: 1;
  height: 80px
}

.header-tools-search {
  position: relative;
  z-index: 10;
  float: left;
  _display: inline;
  margin-left: 32px;
  margin-top: 12px
}

.header-tools-search .header-search-content {
  float: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: top
}

.header-rearch-hotkey {
  float: none;
  display: block;
  padding: 0;
  margin-top: 10px;
  line-height: 14px
}

.header-tools-search .header-search-key {
  height: 21px;
  line-height: 21px;
  padding-left: 30px;
  width: 398px;
  background: url(/common/img/nav_line.png?t=201504141959) no-repeat scroll 8px -106px;
  _background-image: url(/common/img/nav_line8.png?t=201504141959);
  border: 1px solid #c8c8c8;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px
}

.header-tools-search dt, .header-tools-search dd {
  float: left
}

.header-tools-search .hot-keys a {
  color: #fff6eb;
  margin-right: 12px
}

.header-tools-search .hot-keys a:hover {
  text-decoration: underline
}

.header-search-content label {
  display: none
}

.header-rearch-submit {
  width: 71px;
  height: 39px !important;
  overflow: hidden;
  *margin-left: -1px;
  color: #fff;
  border: 0;
  font-size: 13px
}

.header-rearch-hotkey, .header-rearch-hotkey a {
  color: #999
}

.header-rearch-hotkey a:hover {
  color: #eb7e00
}

.focusin {
  color: #000
}

.header-nav-box {
  height: 40px;
  margin-top: 8px;
  background-color: #ff8808;
  font-family: Microsoft YaHei
}

.header-nav-back {
  display: inline;
  float: left;
  position: relative;
  z-index: 2;
  height: 40px;
  line-height: 40px;
  background-image: url(/common/img/header-nav.png?t=201504141959);
  background-position: -164px 11px;
  background-repeat: no-repeat;
  font-size: 14px;
  font-family: \5FAE\8F6F\96C5\9ED1
}

.header-nav-back a {
  display: block;
  width: 33px;
  height: 46px;
  color: #fff
}

.header-nav-back a:hover {
  text-decoration: none;
  color: #fff
}

.header-nav-back u {
  display: none
}

.header-nav-box .cur a, .header-nav-box .cur a:hover {
  background: #f5f5f5;
  color: #5a5a5a
}

.header-nav-back s {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 3;
  width: 0;
  height: 0;
  _margin-left: 1px;
  font-size: 0;
  line-height: 0;
  border: 20px dashed transparent;
  border-left: 20px solid
}

.header-nav-box .header-nav-back s.header-nav-back-s2 {
  margin-left: 1px;
  _margin-left: 2px;
  border-left-color: #fff;
  opacity: .5;
  filter: alpha(opacity=40)
}

.header-nav-box ul {
  float: left;
  position: relative;
  z-index: 1
}

.header-nav-box li {
  display: inline;
  float: left;
  position: relative;
  border-left: 1px solid;
  text-align: center
}

.header-nav-box li.index a {
  padding-left: 10px
}

.header-nav-box li a {
  display: block;
  width: 85px;
  height: 40px;
  line-height: 40px;
  _line-height: 41px;
  font-size: 14px;
  color: #fff
}

.header-nav-box li a:hover {
  color: #fff;
  text-decoration: none
}

.top-hot-key {
  width: 500px;
  display: none;
  line-height: 22px;
  top: 53px;
  position: absolute;
  right: 0;
  left: 250px;
  height: auto;
  overflow: hidden
}

.top-hot-key.on {
  display: block
}

.top-hot-key .key-cont {
  padding-left: 20px;
  position: relative;
  height: 36px;
  margin: 5px 0 0;
  overflow: hidden;
  width: 480px
}

.top-hot-key strong {
  position: absolute;
  left: 1px;
  color: #fe7902
}

.top-hot-key span {
  display: none;
  height: 26px;
  overflow: hidden
}

.top-hot-key span.cur {
  display: block
}

.top-hot-key a {
  color: #666;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
  white-space: nowrap
}

.top-hot-key a:hover {
  text-decoration: none;
  color: #f18100
}

.top-hot-key em {
  padding: 0 3px;
  color: #e6e6e6
}

.top-hot-key .key-cont-btns {
  text-align: right;
  display: none
}

.top-hot-key b {
  background: #d0d0d0;
  border-radius: 10px;
  cursor: pointer;
  color: #aaa;
  bottom: 0;
  height: 10px;
  width: 10px;
  margin-left: 4px
}

.top-hot-key b.cur {
  background: #ffab3e
}

.header-hw .header .top-hot-key {
  top: 6px
}

.header.header-www .top-hot-key {
  top: 6px
}

.logo-banner {
  float: left;
  height: 74px;
  margin-left: 10px;
  overflow: hidden
}

.logo-banner img {
  width: 74px;
  height: 74px
}

.page {
  width: 100%;
  height: 38px;
  text-align: center;
  font-family: arial, tahoma
}

.page div {
  margin: 0 auto
}

.page a, .page span {
  float: left;
  margin: 2px 5px 0;
  display: inline;
  text-align: center
}

.page a {
  width: 32px;
  height: 32px;
  border: 1px solid #d4d4d4;
  line-height: 32px;
  border-radius: 3px;
  color: #666;
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: linear-gradient(top, #fefefe, #f7f7f7)
}

.page span {
  height: 38px;
  line-height: 38px;
  margin-top: 0;
  font-family: tahoma
}

.page a.prev, .page a.next {
  font-size: 14px;
  font-family: '宋体'
}

.page a:hover {
  color: #fff;
  background-color: #ff9c0f;
  background-image: none;
  border-color: #eb8226;
  text-decoration: none;
  box-shadow: none
}

.page .cur {
  color: #fff;
  background: #ff9c0f;
  font-family: arial;
  border-radius: 3px;
  cursor: default;
  width: 34px
}

.page a.dis {
  color: #ccc
}

.page a.dis:hover {
  border: 1px solid #d4d4d4;
  background-color: #fff;
  color: #ccc;
  cursor: default;
  background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: linear-gradient(top, #fefefe, #f7f7f7)
}

.page span.point {
  color: #aeaeae;
  font-size: 16px;
  line-height: 180%
}

.page .all, .page span.go {
  color: #999;
  font-family: arial;
  padding-right: 10px;
  margin-right: 0;
  text-align: right;
  font-family: '宋体'
}

.page .page-input {
  font-family: '宋体';
  width: 74px;
  height: 20px;
  margin: 9px 0 0
}

.page .page-input input {
  float: left;
  width: 41px;
  height: 14px;
  padding: 2px 0;
  border: 1px solid #e98900;
  vertical-align: middle;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  color: #999
}

.page .page-input a {
  float: left;
  width: 29px;
  height: 18px;
  margin: 0;
  border: 1px solid #e98900;
  line-height: 18px;
  color: #fff;
  background: #ff9c0f;
  border-radius: 0 3px 3px 0;
  box-shadow: none
}

.page span.go {
  padding: 0;
  width: 25px;
  text-align: center;
  margin: 0
}

.footer {
  background: #f7f7f7;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  padding: 10px 0;
  line-height: 25px
}

.footer img {
  vertical-align: bottom;
  margin: 0 3px
}

.footer-links a {
  margin: 0 10px;
  color: #666;
  text-decoration: none
}

.footer-links a:hover {
  color: #eb7e00;
  text-decoration: underline
}

.footer-copyright {
  color: #999
}

.footer-copyright a {
  color: #999
}

.footer-copyright a:hover {
  text-decoration: underline;
  color: #eb7e00
}

#live800iconlink {
  display: none
}

#right-bar {
  width: 60px;
  left: 50%;
  margin-left: 500px;
  position: fixed;
  _position: absolute;
  bottom: 78px;
  right: 5px;
  z-index: 101
}

.right-app, .right-xb, .right-cart, .gotop, .gotop-show {
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 1px;
  z-index: 101;
  -webkit-transition: opacity, bottom .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease
}

.right-app:hover, .right-cart:hover, .gotop:hover {
  background-position: 0 -60px
}

.right-xb {
  height: 78px;
  background: url(/common/img/service_right.png?t=201504141959) no-repeat 0 0 scroll;
  font-size: 0
}

.right-xb:hover {
  background-position: 0 -78px
}

.right-app {
  background: url(/common/img/app-right.png?t=201504141959) no-repeat 0 0 scroll;
  position: relative
}

.right-app em {
  display: none;
  width: 140px;
  height: 140px;
  position: absolute;
  border: 1px solid #ff7800;
  right: 60px;
  top: 0;
  background: url(/common/img/saoma_b5m.png?t=201504141959) no-repeat center scroll
}

.right-app:hover em {
  display: block
}

.right-cart {
  background: url(/common/img/cart-right.png?t=201504141959) no-repeat 0 0 scroll;
  position: relative
}

.right-cart em {
  display: none;
  position: absolute;
  left: 40px;
  top: 0;
  width: 27px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  padding-bottom: 5px;
  background: url(/common/img/cart-right.png?t=201504141959) no-repeat 0 -120px scroll;
  color: #FFF
}

.gotop {
  opacity: 0;
  visibility: hidden;
  background: url(/common/img/gotop-right.png?t=201504141959) no-repeat top left
}

#right-bar .gotop-show {
  opacity: 1;
  visibility: visible;
  z-index: 101
}

.rIcon {
  margin: 0 !important;
  left: auto !important;
  right: 0 !important
}

.rIconW {
  margin-left: 610px !important
}

@media screen and (max-width: 1120px) {
  #right-bar {
    margin: 0;
    left: auto;
    right: 0
  }
}

#window-pop-service .window-wrapper {
  padding: 15px 20px 35px 30px
}

#window-pop-service .window-header {
  overflow: visible;
  line-height: normal;
  min-height: auto;
  padding: 0;
  border-bottom: 0
}

#window-pop-service .window-title {
  font-size: 18px;
  font-family: "Microsoft YaHei";
  color: #333;
  line-height: 2.5
}

#window-pop-service .window-closer {
  font-size: 18px;
  margin-right: 0
}

#window-pop-service .window-contents {
  overflow: visible
}

#pop-service {
  width: 460px;
  margin-top: 25px
}

#pop-service .imge {
  font-size: 12px;
  vertical-align: middle
}

#pop-service .btn-group {
  width: 280px;
  float: left;
  margin-right: 40px
}

#pop-service .btn-group a {
  border-radius: 3px
}

#pop-service .btn-group a:hover {
  background: #ff7800
}

#pop-service .btn-group a:hover span {
  color: #fff
}

#pop-service .talk-xb, #pop-service .b5t-download, #pop-service .vip-buy {
  display: block
}

#pop-service .talk-xb {
  height: 57px;
  background: #ff993f;
  box-shadow: 0 1px 1px #f07c3d;
  color: #fff;
  text-align: left
}

#pop-service .sicon-talk {
  width: 50px;
  height: 46px;
  margin: 0 10px 0 22px;
  background: url(/common/img/pop-service/talk-xb.png)
}

#pop-service .text {
  width: 136px;
  text-align: center
}

#pop-service .text span {
  font-family: "Microsoft YaHei";
  font-size: 18px
}

#pop-service .b5t-download, #pop-service .vip-buy, #pop-service .b5t-app, #pop-service .b5m-weixin {
  margin-top: 10px;
  height: 41px;
  border: 1px solid #ff993f
}

#pop-service .b5t-download i, #pop-service .vip-buy i, #pop-service .b5t-app i, #pop-service .b5m-weixin i {
  position: relative;
  top: 1px;
  margin-right: 8px
}

#pop-service .b5t-download span, #pop-service .vip-buy span, #pop-service .b5t-app span, #pop-service .b5m-weixin span {
  color: #666;
  *position: relative;
  *top: 2px
}

#pop-service .b5t-download i {
  width: 24px;
  height: 24px;
  background: url(/common/img/pop-service/sicon-b5t.png)
}

#pop-service .vip-buy i {
  width: 26px;
  height: 22px;
  background: url(/common/img/pop-service/sicon-vip.png)
}

#pop-service .vip-buy:hover i {
  background: url(/common/img/pop-service/sicon-vip-hover.png)
}

#pop-service .s-d a {
  width: 133px;
  height: 41px
}

#pop-service .b5t-app {
  position: relative;
  overflow: visible;
  float: left
}

#pop-service .b5t-app i {
  width: 14px;
  height: 21px;
  background: url(/common/img/pop-service/sicon-app.png)
}

#pop-service .b5t-app:hover i {
  background: url(/common/img/pop-service/sicon-app-hover.png)
}

#pop-service .b5t-app:hover .ss-app {
  position: absolute;
  left: -1px;
  top: -136px;
  width: 131px;
  height: 132px;
  border: 2px solid #ff7800;
  background: #fff url(/common/img/pop-service/ss-app.png) center center no-repeat
}

#pop-service .b5m-weixin {
  float: right;
  position: relative;
  overflow: visible
}

#pop-service .b5m-weixin .ico-wx {
  color: #ff993f;
  font-style: normal;
  font-size: 18px
}

#pop-service .b5m-weixin:hover .ico-wx {
  color: #fff
}

#pop-service .b5m-weixin:hover .ss-wx {
  position: absolute;
  left: -1px;
  top: -136px;
  width: 131px;
  height: 132px;
  border: 2px solid #ff7800;
  background: #fff url(/common/img/pop-service/ss-wx.png) center center no-repeat
}

#pop-service .s-pic-xb {
  margin-top: 18px;
  background: url(/common/img/pop-service/service-xb.png);
  float: left;
  width: 130px;
  height: 180px
}

.friend-links {
  background: #fafafa;
  border: 1px #e0e0e0 solid;
  padding: 12px;
  line-height: 23px;
  margin-bottom: 20px
}

.friend-links strong {
  font-weight: 700;
  color: #666
}

.friend-links a {
  margin-right: 10px;
  color: #666;
  white-space: nowrap
}

.friend-links a:hover {
  color: #eb7e00
}

.b5t-download-tip {
  text-align: center;
  padding-top: 20px;
  width: 280px;
  height: 90px;
  font-size: 12px
}

.b5t-download-tip .here {
  text-decoration: underline;
  color: #00f
}

.b5t-download-tip .dl-btn {
  -webkit-border-radius: 3px;
  -mox-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 35px;
  margin-top: 15px;
  background: #e98900;
  color: #fff;
  font-size: 14px
}

.clvd-box {
  width: 360px;
  border: 6px solid #000;
  background-color: #fff;
  position: fixed;
  z-index: 99999;
  top: 10%;
  left: 50%;
  margin-left: -180px
}

.clvd-box .clvd-close {
  position: absolute;
  width: 20px;
  line-height: 20px;
  color: #999;
  font: 400 20px/20px '\5FAE\8F6F\96C5\9ED1';
  text-align: center;
  right: 10px;
  top: 10px;
  cursor: pointer
}

.clvd-box .clvd-center {
  width: 100%;
  height: 100%;
  overflow: hidden
}

.clvd-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  background: rgba(0, 0, 0, .5);
  filter: Alpha(opacity=50);
  z-index: 99998
}

.clvd-box .clvd-center .msg {
  text-align: center;
  padding: 50px 30px
}

.clvd-box .clvd-center .msg p {
  font-size: 16px
}

.CommonLoginView {
  width: 360px;
  min-height: 219px;
  text-align: center;
  padding: 60px 30px 50px
}

.CommonLoginView .clvd-loading {
  background: url(/common/img/loading.gif?t=201504141959) no-repeat top center scroll;
  padding: 30px 0 0;
  text-align: center;
  font-size: 14px
}

.CommonLoginView .kv-item-handler a {
  width: 100%
}

#login-view {
  height: 282px;
  width: 350px;
  overflow: visible
}

#login-view .login-loading {
  text-align: center;
  padding-top: 100px;
  font: 18px/25px 'Microsoft YaHei'
}

.autofill {
  display: none;
  position: absolute;
  z-index: 1999;
  border: 1px solid #C1C1C1;
  width: 494px;
  background-color: #fff
}

.autofill-content {
  position: relative;
  z-index: 100;
  width: 439px;
  height: 348px;
  margin-left: 28px;
  margin-right: 28px;
  overflow: hidden;
  background: url(/common/img/autofill_rx.png?t=201504141959) repeat-x scroll 0 0 transparent
}

.autofill-slider {
  position: absolute;
  height: 348px;
  white-space: nowrap;
  border-left: 1px dashed #C1C1C1
}

.autofill .category {
  width: 145px;
  height: 348px;
  border-right: 1px dashed #C1C1C1
}

.autofill .category dt {
  position: relative;
  z-index: 10;
  height: 34px;
  line-height: 34px;
  margin-bottom: 14px;
  text-align: center;
  color: #999
}

.autofill .category a {
  color: #666
}

.autofill .category .first {
  border-left: 1px dashed #dedede
}

.autofill .category .item {
  height: 20px;
  padding-left: 4px;
  margin-bottom: 7px;
  line-height: 20px
}

.autofill .category .item-sub {
  background: url(/common/img/autofill_icon.png?t=201504141959) no-repeat scroll -104px -97px transparent
}

.autofill .category .item-txt {
  float: left;
  width: 140px;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  word-wrap: normal
}

.autofill .category .item-count {
  float: right;
  display: none
}

.autofill .category .item b {
  font-weight: 400;
  color: #f18100
}

.autofill .category .cur, .autofill .category .item:hover {
  background-color: #FFE8C7;
  background-position: 126px -97px
}

.autofill .category-hover {
  background-color: #FFF9F0
}

.autofill .category-hover dt {
  color: #FE8711
}

.autofill .sub-box {
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  width: 320px;
  height: 314px;
  top: 34px;
  left: 174px;
  background-color: #f3f3f3
}

.autofill .sub-box .sub-item {
  display: none
}

.autofill .sub-box .sub-item.on {
  display: block
}

.autofill .sub-box .tags {
  padding: 14px 0 14px 34px;
  border-top: 1px dashed #dedede;
  margin-top: -1px;
  cursor: default
}

.autofill .sub-box .tags a {
  float: left;
  margin-right: 14px;
  margin-top: 8px;
  color: #333;
  height: 22px;
  padding: 0 10px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #cdcdcd;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0, #f6f6f6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f6f6f6));
  background: -webkit-linear-gradient(top, #fff 0, #f6f6f6 100%);
  background: -o-linear-gradient(top, #fff 0, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #fff 0, #f6f6f6 100%);
  background: linear-gradient(to bottom, #fff 0, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px
}

:root .autofill .sub-item .tags a {
  filter: none
}

.autofill .sub-item .tags .tag-cur, .autofill .sub-item .tags a:hover {
  border-color: #F18100
}

.autofill .sub-item h3 {
  color: #666;
  font-weight: 700
}

.autofill-arrow {
  position: absolute;
  top: 0;
  width: 27px;
  height: 41px;
  background-image: url(/common/img/autofill_icon.png?t=201504141959);
  background-repeat: no-repeat;
  cursor: pointer
}

.autofill-left {
  left: 0;
  background-position: 0 -50px
}

.autofill-right {
  right: 0;
  background-position: -50px -50px
}

.autofill-left-disable {
  background-position: 0 0
}

.autofill-right-disable {
  background-position: -50px 0
}

.autofill-close {
  position: absolute;
  z-index: 120;
  right: 0;
  bottom: 0;
  width: 29px;
  height: 29px;
  background: url(/common/img/autofill_icon.png?t=201504141959) no-repeat scroll 0 -200px #f2f2f2;
  cursor: pointer
}

.autofill .autofill-tips {
  display: none;
  position: absolute;
  right: -45px;
  top: -56px;
  width: 111px;
  height: 63px;
  background: url(/common/img/autofill_icon.png?t=201504141959) no-repeat scroll -89px -187px
}

.atf-item {
  display: block;
  padding-left: 10px;
  height: 28px;
  line-height: 28px;
  color: #333;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.atf-item span {
  font-weight: 400
}

.atf-item em {
  margin-left: 5px;
  width: 8px;
  height: 11px;
  background-repeat: no-repeat;
}

.atf-item.cur {
  background-color: #F0F0F0
}

.atf-item.cur em {
  float: right;
  margin-right: 5px;
  margin-top: 9px
}

.atf-item font {
  margin-left: 10px;
  color: #999
}

.attr-box {
  float: right;
  background-color: #F8F8F8;
  padding: 10px 20px;
  width: 227px;
  overflow: auto
}

.attr-box h3 {
  margin-bottom: 10px;
  font-weight: 700;
  color: #666
}

.attr-box .attr-list {
  margin-bottom: 20px
}

.attr-box .attr-list a {
  float: left;
  width: 73px;
  height: 23px;
  line-height: 23px;
  margin-right: -1px;
  margin-bottom: -1px;
  border: 1px solid #DDD;
  white-space: nowrap;
  word-break: normal;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  text-align: center;
  background-color: #FFF
}

.attr-box .attr-list a.cur, .attr-box .attr-list a:hover {
  background-color: #ff7800;
  border-color: #ff7800;
  color: #FFF
}

.topbar-ie6 {
  background: #ff8808;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-bottom: 1px solid #e2731a;
  text-align: center
}

.topbar-ie6 a {
  color: #fff;
  font-weight: 700
}

.tpbar {
  height: 46px;
  color: #666;
  position: relative;
  z-index: 110;
  background-repeat: repeat-x
}

.tpbar .ico-b5m {
  padding-left: 22px;
  background-repeat: no-repeat;
}

.tpbar .tpbar-cont {
  line-height: 35px
}

.tpbar a {
  color: #666
}

.tpbar a:hover {
  color: #f68400;
  text-decoration: underline
}

.tpbar .iconfont {
  color: #b8b8b8;
  font-size: 14px
}

.tpbar .iconfont a {
  text-decoration: none
}

.tpbar .ico-sina, .tpbar .ico-qq, .tpbar .ico-weixin {
  display: block;
  height: 22px;
  margin-right: 12px;
  margin-top: 8px;
  width: 22px
}

.tpbar .ico-qq {
  background-repeat: no-repeat;
}

.tpbar .ico-sina {
  background-repeat: no-repeat;
}

.tpbar .ico-weixin {
  background-repeat: no-repeat;
}

.tpbar .light {
  color: #e9a351
}

.tpbar .l-nav {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  *float: left;
  *padding-top: 8px
}

.tpbar .l-nav a {
  display: inline-block;
  line-height: 18px;
  height: 20px
}

.tpbar .l-nav .iconfont {
  position: relative;
  top: 2px
}

.tpbar .l-nav span {
  padding-left: 15px
}

.tpbar .login-bar {
  float: right
}

.tpbar .login-bar li {
  float: left
}

.tpbar .login-bar .sp {
  color: #ddd;
  padding: 0 2px
}

.tpbar .links {
  position: relative
}

.tpbar .nomenu {
  height: 36px;
  line-height: 37px;
  display: block;
  padding: 0 10px
}

.tpbar .nomenu:hover {
  background: #fdfdfd;
  text-decoration: none
}

.tpbar .menu-hd {
  display: block;
  height: 36px;
  _width: 45px;
  cursor: default;
  padding: 1px 13px 0 21px;
  position: relative;
  z-index: 2;
  _display: inline-block;
  _white-space: nowrap
}

.tpbar .menu-hd .ico {
  _left: -1px
}

.tpbar .menu-hover {
  position: relative
}

.tpbar .menu-hover:hover .menu-hd, .tpbar .menu-hover.hover .menu-hd {
  color: #F68400;
  border: 1px solid #d1d1d1;
  padding: 0 12px 0 20px;
  background: #fff;
  border-bottom: 0;
  text-decoration: none
}

.tpbar .menu-hover:hover .menu-hd .ico, .tpbar .menu-hover.hover .menu-hd .ico {
  left: 0;
  top: 7px;
  *top: 5px
}

.tpbar .menu-hover:hover .menu-hd b, .tpbar .menu-hover.hover .menu-hd b {
  right: 3px;
  top: 16px;
  *top: 14px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-repeat: no-repeat;
}

.tpbar .menu-hover:hover .menu-hd.noico {
  padding-left: 5px
}

.tpbar .menu-hd.noico {
  padding-left: 6px
}

.tpbar .menu-hd:hover.noico, .tpbar .menu-hd.hover.noico {
  padding-left: 5px
}

.tpbar .menu-hd .ico {
  position: absolute;
  left: 1px;
  top: 8px;
  *top: 6px;
  display: block;
  width: 22px;
  height: 22px
}

.tpbar .menu-hd b {
  width: 7px;
  height: 5px;
  position: absolute;
  right: 4px;
  top: 18px;
  *top: 16px;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background-repeat: no-repeat;
}

.tpbar .nomenu span {
  display: block;
  position: relative;
  padding-left: 16px
}

.tpbar .nomenu span .ico {
  position: absolute;
  left: 0;
  top: 8px;
  *top: -5px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 22px;
  height: 22px
}

.tpbar .ico-phone {
  background-repeat: no-repeat;
}

.tpbar .menu-hover:hover .ico-phone {
  background-repeat: no-repeat;
}

.tpbar .ico-webnav {
  background-repeat: no-repeat;
}

.tpbar .menu-hover:hover .ico-webnav {
  background-repeat: no-repeat;
}

.tpbar .ico-add {
  background-repeat: no-repeat;
}

.tpbar .menu-hover:hover .ico-add {
  background-repeat: no-repeat;
}

.tpbar .ico-helper {
  background-repeat: no-repeat;
}

.tpbar .menu-hover:hover .ico-helper {
  background-repeat: no-repeat;
}

.tpbar .ico-korea {
  background-repeat: no-repeat;
}

.tpbar .nomenu:hover .ico-korea {
  background-repeat: no-repeat;
}

.tpbar .nomenu span .ico-korea {
  left: -6px
}

.tpbar .ico-cart {
  background-repeat: no-repeat;
}

.tpbar .ico-file {
  background-repeat: no-repeat;
}

.tpbar .nomenu:hover .ico-cart {
  background-repeat: no-repeat;
}

.tpbar .nomenu span .ico-cart {
  left: -6px
}

.tpbar .nomenu span .ico-file {
  left: -6px;
  top: 9px
}

.tpbar .nomenu #cartNo {
  color: red;
  font-weight: 700;
  padding-left: 5px
}

.tpbar .menu-bd {
  *background: #ddd;
  position: absolute;
  top: 36px;
  right: 0;
  line-height: 30px;
  border: 1px solid #d1d1d1;
  border-top: 0;
  width: 80px;
  display: none;
  box-shadow: 0 2px 4px #ddd;
  z-index: 1
}

.tpbar .menu-hover:hover .menu-bd, .tpbar .menu-hover.hover .menu-bd {
  display: block
}

.tpbar .menu-bd .bd-panel {
  margin-top: 1px;
  padding: 10px 2px;
  background: #fff
}

.tpbar .menu-bd-list {
  background: #fff;
  padding-bottom: 2px;
  text-align: center;
  padding-top: 4px
}

.tpbar .menu-bd-list ol:hover {
  box-shadow: 0 0 4px #aaa
}

.tpbar .menu-bd-list ol a {
  display: block;
  height: 30px
}

.tpbar .menu-bd-list ol a:hover, .tpbar .menu-bd-list ol a.hover {
  color: #666;
  text-decoration: none
}

.tpbar .bd-phone-detail span {
  font-family: "宋体"
}

.tpbar .loading {
  text-align: center
}

.tpbar .loading span {
  padding: 5px;
  text-align: center
}

.tpbar .bd-phone {
  width: 138px;
  _width: 60px
}

.tpbar .bd-phone .qrcode-iphone, .tpbar .bd-phone .qrcode-android {
  width: 103px;
  height: 101px;
  display: block;
  text-indent: -9999px;
  margin-bottom: 10px
}

.tpbar .bd-phone .qrcode-iphone {
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
}

.tpbar .bd-phone .qrcode-android {
  background-repeat: no-repeat;
}

.tpbar .bd-phone .btn-iphone, .tpbar .bd-phone .btn-android {
  width: 103px;
  height: 35px;
  display: block;
  text-indent: -9999px
}

.tpbar .bd-phone .btn-iphone {
  display: none;
  background-repeat: no-repeat;
}

.tpbar .bd-phone .btn-android {
  background-repeat: no-repeat;
}

.tpbar .bd-phone div, .tpbar .bd-phone p {
  padding: 0 5px
}

.tpbar .bd-phone div {
  padding: 0 2px 0 4px
}

.tpbar .bd-helper {
  width: 200px
}

.tpbar .bd-helper h3 {
  color: #eb7e00;
  font-size: 14px;
  font-weight: 700;
  padding-left: 10px
}

.tpbar .bd-helper p {
  line-height: 18px;
  margin-bottom: 10px;
  padding: 0 4px 0 10px
}

.tpbar .bd-helper div {
  padding-left: 10px
}

.tpbar .bd-helper-download {
  float: left;
  width: 98px;
  height: 31px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  cursor: pointer;
  background-repeat: no-repeat;
}

.tpbar .bd-helper-download:hover {
  background-repeat: no-repeat;
}

.tpbar .bd-helper-detail {
  margin-left: 8px;
  font-weight: 700;
  font-size: 14px
}

.tpbar .bd-helper-detail span {
  font-family: "宋体"
}

.tpbar .bd-follow {
  width: 138px
}

.tpbar .bd-follow h3 {
  margin-bottom: 10px;
  margin-top: -10px;
  *padding-bottom: 10px;
  padding-left: 10px
}

.tpbar .bd-follow p {
  padding-left: 7px
}

.tpbar .bd-follow div {
  padding-right: 7px
}

.tpbar .bd-follow .ico-wx {
  font-size: 30px;
  position: relative;
  top: 10px;
  color: #5cc022
}

.tpbar .bd-follow .qrcode-wx {
  display: block;
  width: 120px;
  height: 120px;
  margin-bottom: 6px;
  background-repeat: no-repeat;
}

.tpbar .bd-follow .share-qzone, .tpbar .bd-follow .share-weixin {
  display: none
}

.tpbar .bd-follow .add-fav {
  margin-left: 10px;
  display: block;
  width: 119px;
  height: 28px;
  text-indent: -9999px;
  background-repeat: no-repeat;
}

.tpbar .bd-follow .add-fav:hover {
  background-repeat: no-repeat;
}

.tpbar .follow-weibo, .tpbar .follow-qq {
  display: inline-block;
  width: 24px;
  height: 24px;
  float: right
}

.tpbar .follow-weibo {
  margin-right: 6px;
  background-repeat: no-repeat;
}

.tpbar .follow-qq {
  background-repeat: no-repeat;
}

.tpbar #b5muser:hover span {
  color: #f68400;
  text-decoration: underline;
  cursor: pointer
}

.tpbar #b5muser span {
  display: inline-block;
  width: 70px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.tpbar .bd-user {
  width: 87px
}

.tpbar .bd-msg {
  width: 450px
}

.tpbar .bd-msg a {
  text-align: right;
  margin-right: 11px
}

.tpbar .bd-msg a span {
  color: #f68400
}

.tpbar .menu-msg-info {
  background: #fff;
  margin-bottom: 6px;
  display: none
}

.tpbar .menu-msg-info ol {
  padding: 0 10px
}

.tpbar .menu-msg-info ol:hover {
  box-shadow: 0 0 4px #aaa
}

.tpbar .menu-msg-info b {
  color: #f68400;
  font-weight: 400
}

.tpbar .menu-msg-info p {
  line-height: 20px;
  padding-top: 4px;
  border-top: 1px solid #eee
}

.tpbar .menu-msg-info div {
  color: #999
}

.tpbar .menu-msg-info div a {
  color: #4291da;
  float: right
}

.tpbar .menu-msg-info div a em {
  font-family: "宋体"
}

.tpbar .menu-msg-info strong {
  font-weight: 400;
  display: none
}

.tpbar .menu-msg-info i {
  font-style: normal
}

.tpbar .bd-add {
  width: 470px
}

.tpbar .bd-add h3 {
  color: #f68400;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
  padding-left: 10px
}

.tpbar .bd-add .btn-more {
  display: block;
  margin: auto;
  text-indent: -9999px;
  width: 262px;
  height: 36px;
  background-repeat: no-repeat;
}

.tpbar .bd-add .btn-more:hover {
  background-repeat: no-repeat;
}

.tpbar .menu-add-info {
  padding-left: 10px;
  line-height: 20px;
  height: 350px;
  overflow: hidden;
  width: 455px;
  display: none
}

.tpbar .menu-add-info ol {
  padding: 4px 0;
  border-top: 1px solid #eee;
  height: 61px;
  overflow: hidden
}

.tpbar .menu-add-info ol:hover {
  box-shadow: 0 0 4px #aaa
}

.tpbar .menu-add-info .add-img {
  float: left;
  margin-right: 10px;
  position: relative
}

.tpbar .menu-add-info .add-img img {
  border: 1px solid #ddd;
  width: 50px;
  margin-top: 4px;
  margin-left: 6px
}

.tpbar .menu-add-info .add-img em {
  position: absolute;
  right: 1px;
  top: 30%;
  width: 50px;
  height: 21px;
  background: url(/common/img/expired-icon.png?t=201504141959) no-repeat 0 0 scroll;
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/common/img/expired-icon.png?t=201504141959', sizingMethod='scale')
}

.tpbar .menu-add-info .add-text {
  width: 210px;
  float: left;
  margin-right: 10px
}

.tpbar .menu-add-info .add-price {
  width: 100px;
  float: left;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px
}

.tpbar .menu-add-info .add-price strong {
  font-weight: 400
}

.tpbar .menu-add-info .add-price strong em {
  font-weight: 700;
  color: red
}

.tpbar .menu-add-info .add-price span {
  color: #999;
  display: block
}

.tpbar .menu-add-info .add-price span em {
  text-decoration: line-through
}

.tpbar .menu-add-info .add-opt {
  margin-right: 0;
  width: 32px;
  padding-top: 10px;
  float: left
}

.tpbar .menu-add-info .add-opt a {
  color: #4291da
}

.tpbar .l-nav {
  _margin: 10px 0 0
}

.tpbar .nomenu {
  _display: inline-block
}

.tpbar .nomenu span .ico-file, .tpbar .nomenu span .ico-korea, .tpbar .nomenu span .ico-cart {
  _left: -25px;
  *top: -3px
}

.tpbar .jspVerticalBar {
  width: 5px
}

.tpbar .menu-hover:hover .menu-hd .ico, .tpbar .menu-hover.hover .menu-hd .ico {
  _left: -2px
}

.bdpop-type1 {
  display: none;
  width: 584px;
  height: 444px
}

.bdpop-type1 .bdpop-b5t {
  width: 584px;
  position: relative;
  height: 134px;
  background: url(../../images/bdpop/bg1.jpg) no-repeat
}

.bdpop-type1 .bdpop-b5t a {
  display: block;
  width: 258px;
  height: 80px;
  position: absolute;
  left: 35px;
  top: 35px;
  text-indent: -9999px
}

.bdpop-type1 .bdpop-b5t span {
  display: none !important;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  right: 9px;
  top: 9px;
  cursor: pointer
}

.bdpop-type1 .bdpop-login-bar {
  height: 342px;
  background: #fff;
  padding-top: 24px
}

.bdpop-type1 .bdpop-login-bar h3 {
  margin-left: 193px;
  margin-bottom: 30px;
  height: 22px;
  line-height: 22px;
  font-size: 18px;
  border-left: 3px solid #ecbc67;
  font-family: "微软雅黑";
  padding-left: 6px
}

.bdpop-type2 {
  display: none;
  width: 382px;
  height: 245px;
  position: relative;
  background: url(../../images/bdpop/bg2.jpg) no-repeat
}

.bdpop-type2 .down-free {
  display: block;
  width: 258px;
  height: 80px;
  position: absolute;
  left: 60px;
  top: 100px;
  text-indent: -9999px
}

.bdpop-type2 .down-bd {
  color: #876424;
  position: absolute;
  left: 100px;
  top: 200px;
  text-decoration: underline
}

.bdpop-type2 span {
  display: none !important;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  right: 9px;
  top: 9px;
  cursor: pointer
}

.bdpop-type3 {
  display: none;
  width: 584px;
  height: 444px;
  position: relative
}

.bdpop-type3 .bdpop-login-bar {
  height: 342px;
  background: #fff;
  padding-top: 34px;
  border-top: 6px solid #edbe66
}

.bdpop-type3 .bdpop-login-bar h3 {
  margin-left: 193px;
  margin-bottom: 30px;
  height: 22px;
  padding-left: 6px;
  line-height: 22px;
  font-size: 18px;
  border-left: 3px solid #ecbc67;
  font-family: "微软雅黑"
}

.bdpop-type3 .close {
  display: none !important;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 9px;
  top: 9px;
  cursor: pointer;
  background: url(/common/img/af-close.png?t=201504141959) no-repeat center
}

.tpbar {
  background-position: 0px 0px
}

.tpbar {
  background-image: url(/common/img/common_x.png?t=201504141959)
}

.atf-item em {
  background-position: -254px 0px
}

.tpbar .ico-b5m {
  background-position: -246px -14px
}

.tpbar .ico-qq {
  background-position: -240px -33px
}

.tpbar .ico-sina {
  background-position: -240px -58px
}

.tpbar .ico-weixin {
  background-position: -243px -83px
}

.tpbar .menu-hover:hover .menu-hd b, .tpbar .menu-hover.hover .menu-hd b {
  background-position: -255px -105px
}

.tpbar .menu-hd b {
  background-position: -255px -113px
}

.tpbar .ico-phone {
  background-position: -240px -121px
}

.tpbar .menu-hover:hover .ico-phone {
  background-position: -240px -146px
}

.tpbar .ico-webnav {
  background-position: -240px -171px
}

.tpbar .menu-hover:hover .ico-webnav {
  background-position: -240px -171px
}

.tpbar .ico-add {
  background-position: -240px -196px
}

.tpbar .menu-hover:hover .ico-add {
  background-position: -240px -221px
}

.tpbar .ico-helper {
  background-position: -240px -246px
}

.tpbar .menu-hover:hover .ico-helper {
  background-position: -240px -271px
}

.tpbar .ico-korea {
  background-position: -240px -296px
}

.tpbar .nomenu:hover .ico-korea {
  background-position: -240px -321px
}

.tpbar .ico-cart {
  background-position: -240px -346px
}

.tpbar .ico-file {
  background-position: -240px -371px
}

.tpbar .nomenu:hover .ico-cart {
  background-position: -240px -396px
}

.tpbar .bd-phone .qrcode-iphone {
  background-position: -142px -421px
}

.tpbar .bd-phone .qrcode-android {
  background-position: -159px -544px
}

.tpbar .bd-phone .btn-iphone {
  background-position: -159px -648px
}

.tpbar .bd-phone .btn-android {
  background-position: -159px -686px
}

.tpbar .bd-helper-download {
  background-position: -164px -724px
}

.tpbar .bd-helper-download:hover {
  background-position: -164px -758px
}

.tpbar .bd-follow .qrcode-wx {
  background-position: -142px -792px
}

.tpbar .bd-follow .add-fav {
  background-position: -143px -915px
}

.tpbar .bd-follow .add-fav:hover {
  background-position: -143px -946px
}

.tpbar .follow-weibo {
  background-position: -238px -977px
}

.tpbar .follow-qq {
  background-position: -238px -1004px
}

.tpbar .bd-add .btn-more {
  background-position: 0px -1031px
}

.tpbar .bd-add .btn-more:hover {
  background-position: 0px -1070px
}

.atf-item em, .tpbar .ico-b5m, .tpbar .ico-qq, .tpbar .ico-sina, .tpbar .ico-weixin, .tpbar .menu-hover:hover .menu-hd b, .tpbar .menu-hover.hover .menu-hd b, .tpbar .menu-hd b, .tpbar .ico-phone, .tpbar .menu-hover:hover .ico-phone, .tpbar .ico-webnav, .tpbar .menu-hover:hover .ico-webnav, .tpbar .ico-add, .tpbar .menu-hover:hover .ico-add, .tpbar .ico-helper, .tpbar .menu-hover:hover .ico-helper, .tpbar .ico-korea, .tpbar .nomenu:hover .ico-korea, .tpbar .ico-cart, .tpbar .ico-file, .tpbar .nomenu:hover .ico-cart, .tpbar .bd-phone .qrcode-iphone, .tpbar .bd-phone .qrcode-android, .tpbar .bd-phone .btn-iphone, .tpbar .bd-phone .btn-android, .tpbar .bd-helper-download, .tpbar .bd-helper-download:hover, .tpbar .bd-follow .qrcode-wx, .tpbar .bd-follow .add-fav, .tpbar .bd-follow .add-fav:hover {
  background-image: url(/common/img/common_z.png?t=201504141959)
}

.tpbar .follow-weibo, .tpbar .follow-qq, .tpbar .bd-add .btn-more, .tpbar .bd-add .btn-more:hover {
  background-image: url(/common/img/common_z.png?t=201504141959)
}